<h3>Les trois dernières annonces deposées</h3>
<div class="dernieres_annonces">
<% @annonces.each do |annonce| %>
	<div class="classement">
		<%= annonce.categorie %><br>
		<%= annonce.titre %><br>
		<%= annonce.code_postal %><br>
		<%= annonce.adresse %><br>
		<%= annonce.quantite %><br>
		<%= annonce.commentaire %><br>
	</div>
<% end %>
</div>
