<div class="result_annonces">
	<% @annonces.each do |annonces| %>
		<div class="classement_result">
			<div class="code_postale">
				<%= annonces.code_postal %>
			</div>
			<div class="titre_annonce">
				<%= annonces.titre %>
			</div>
			<%= annonces.adresse %><br>
			<%= annonces.quantite %><br>
			<%= annonces.commentaire %><br>
			<%= annonces.dispo.strftime('%d/%m/%y') %><br>
		</div>
	<% end %>
</div>