<%= render "layouts/nav" %>
<div class="result_annonces">
	<h2>Annonce</h2>
	<div class="classement_result">
		<div class="titre_annonce">
			<%= @annonce.categorie %><br>
		</div>
		<%= @annonce.titre %><br>
		<%= @annonce.adresse %><br>
		<%= @annonce.quantite %><br>
		<%= @annonce.commentaire %><br>
		<div class="code_postale">
			<%= @annonce.code_postal %>
		</div>
		
		<% if flash[:notice] %>
			<div><%= flash[:notice] %></div>
		<% end %>
	</div>
</div>


<%= link_to "Retour à votre recherche", session[:search_results], :class => 'btn_search' %>


