<h3>Annonce</h3>
<%= @annonce.categorie %><br>
<%= @annonce.titre %><br>
<%= @annonce.code_postal %><br>
<%= @annonce.adresse %><br>
<%= @annonce.quantite %><br>
<%= @annonce.commentaire %><br>

<% if flash[:notice] %>
	<div><%= flash[:notice] %></div>
<% end %>


