<nav class= "navbar">
	<%= link_to 'Accueil', annonces_path, :class => "lien_nav" %>
	<%= link_to 'Déposer une annonce', new_annonce_path, :class => "lien_nav" %>
	<div class="search">	
		<%= form_tag '/result', :method => 'get' do %>
		<p>
    	<%= select_tag :search,options_for_select([ "Fruits", "Légumes", "Autres" ], params[:search]) %>
   		<%= submit_tag "Chercher", :name => nil %>
		</p>
		<% end %>
	</div>
</nav>	