<!DOCTYPE html>
<html>
<head>
  <title>Jardins</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "S'enregistrer", new_user_path %>
<%= render 'layouts/navigation_links' %>
<% if flash[:notice] %>
	<div><%= flash[:notice] %></div>
<% end %>
<%= yield %>

</body>
</html>
